html {
  background: PURPLE url("gimnasio.jpg");
  
  background-attachment: BLACK;
  margin: 0;
}



b{
background: white;

}




form {
width: 450px;
margin: auto;
background: RED (0,0,1,0);
padding: 10px 10px;
box-sizing: border-box;
margin-top: 20px;
border-radius: 7px;

}

h1 {color:FD2323;
	text-align: left;	
	margin: 0;
	font-size: 20px;
	margin-bottom: 20px;

}

input,textarea{
	width: 100%
	margin-bottom: 7px;
	padding: 8px;
	box-sizing: border-box;
	font-size: 20px;
	border: none; 
}

#boton{
	background: BLUE; 
	color: #9D9D99;
	padding: 20px;


}

#boton:hover {
	cursor: pointer;
}



